@import url('/assets/icomoon/style.css');

:root {
    --cor-principal-1: #ff2d9a;
    --cor-principal-1-escuro: #b8206e;
    --cor-principal-2: #3498db;
    --cor-principal-2-escuro: #2975a8;
    --cor-secundaria-1: #1a2a3a;
    --cor-texto: #fff;
    --cor-texto-2: #222;
}

/* #region valores padrão */
html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin: 0;
}

h2 {
    width: 100%;
    margin: 0rem 0 1rem 0;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    min-height: 100%;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

section {
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
}
/* #endregion */

/* #region classes de utilidade */
.link-sublinhado {
    text-decoration: underline;
}

.sem-margin {
    margin: 0 !important;
}

.sem-selecao {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none;
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none;
}
/* #endregion */

/* #region header */
header {
    width: 100%;
    height: 3rem;
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 100;
    background-color: var(--cor-secundaria-1);
    color: var(--cor-texto);
    text-align: center;
    font-size: 1.2rem;
}

    header .logo {
        width: 2rem;
        height: 2rem;
        padding: 0.2rem;
        margin: 0.5rem;
        border: 0.1rem solid #fff;
        background-color: var(--cor-principal-2);
        box-sizing: border-box;
        line-height: 2rem;
        border-radius: 50%;

    }

        header .logo img {
            width: 1.5rem;
        }

    header .titulo {
        height: 100%;
        margin: 0;
        padding: 0 1rem;
        flex-grow: 1;
        line-height: 3rem;
        font-size: 1.1rem;
    }

    header .botao-hamburguer {
        width: 2.2rem;
        height: 2.2rem;
        margin: 0.35rem;
        border: 0.125rem solid var(--cor-texto);
        border-radius: 100%;
        cursor: pointer;
        box-sizing: border-box;
    }

        header .botao-hamburguer i {
            font-size: 1.15rem;
            line-height: 1.88rem;
        }
/* #endregion */

/* #region menu-lateral */
#input-menu-lateral:checked ~ .menu-lateral {
    right: 0;
    animation-duration: 0.2s;
    animation-name: abrir-menu;
}

.menu-lateral {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 1000;
}

    .menu-lateral .fundo-fechar {
        width: 10%;
        height: 100%;
        float: left;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .menu-lateral nav  {
        width: 90%;
        height: 100%;
        left: 10%;
        float: right;
        background-color: var(--cor-secundaria-1);
    }

        .menu-lateral .area-logo {
            box-sizing: border-box;
            width: 100%;
            height: 13rem;
            padding: 1rem;
        }

            .menu-lateral .logo {
                margin: 0.5rem auto;
                width: 10rem;
                height: 10rem;
            }

                .menu-lateral .logo img {
                    width: 7.5rem;
                    padding: 1.2rem;
                }

        .menu-lateral ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: left;
        }

        .menu-lateral .primeiro-link {
            border-top: 1px solid var(--cor-texto);
        }

        .menu-lateral li a {
            width: 100%;
            height: 2.25rem;
            padding: 0.75rem;
            border-bottom: 1px solid var(--cor-texto);
            display: inline-block;
            font-size: 1.3rem;
            line-height: 2.5rem;
        }

            .menu-lateral li i {
                margin-right: 0.5rem;
            }

            .menu-lateral li a.selected, .menu-lateral li a:hover, .menu-lateral  li a:active {
                background-color: var(--cor-principal-2);
            }
/* #endregion */

/* #region footer */
footer {
    width: 100%;
    height: 10rem;
    padding: 2rem 1rem 1rem 1rem;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--cor-secundaria-1);
    color: var(--cor-texto);
    text-align: center;
}

    footer .redes-sociais {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

        footer .redes-sociais a {
            width: 2.5rem;
            min-width: 2.5rem;
            height: 2.5rem;
            margin: 0 0.5rem;
            border-radius: 50%;
        }

            footer .redes-sociais i {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }

        footer .redes-sociais a.twitter {
            background-color: #56ACEE;
        }

        footer .redes-sociais a.linkedin {
            background-color: #007AB9;
        }

        footer .redes-sociais a.github {
            background-color: #000;
        }

        footer .redes-sociais a.itchio {
            background-color: #FA5C5B;
        }

        footer .redes-sociais a.meetup {
            background-color: #ED1C40;
        }

        footer .redes-sociais a.email {
            background-color: var(--cor-principal-2);
        }
/* #endregion */

/* #region icons */
.icon-heart {
    color: red;
}
/* #endregion */

/* #region media queries */
@media (max-width: 768px) {
    main {
        padding-bottom: 12rem;
    }
    
    footer {
        height: 12rem;
    }
}

@media (min-width: 768px) {
    header .titulo {
        text-align: left;
    }

    header .botao-hamburguer {
        display: none;
    }

    .menu-lateral nav .primeiro-link {
        border: none;
    }

    .menu-lateral {
        width: auto;
        height: auto;
        position: relative;
        right: 0;
    }

        .menu-lateral nav ul {
            display: flex;
            justify-content: flex-end;
        }

        .menu-lateral li i {
            display: none;
        }

            .menu-lateral nav a {
                width: initial;
                height: 1.5rem;
                border-bottom: none;
                margin-right: 0.5rem;
                line-height: 1.5rem;
            }

                .menu-lateral nav a.selected {
                    padding-bottom: 0.5rem;
                    border-bottom: 0.25rem solid var(--cor-secundaria-2);
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                .menu-lateral nav a.selected, .menu-lateral nav a:hover, .menu-lateral nav a:active {
                    background-color: initial;
                    color: var(--cor-principal-2);
                    background-color: initial;

                }
            .menu-lateral .area-logo {
                display: none;
            }
}

@media (min-width: 900px) {
    section {
        padding: 1.5rem 15% 1rem 15%;
    }
}
/* #endregion */

/* #region animações */
@keyframes abrir-menu {
    from {
        transform: translate(120%);
    }

    to {
        right: translate(0);
    }
}
/* #endregion */