/* #region valores padrao */
html {
    background-color: var(--cor-principal-1);
}
/* #endregion */

/* #region apresentação */
.apresentacao {
    background-color: var(--cor-principal-1);
    display: flex;
    align-items: center;
}

    .apresentacao .foto {
        width: 9rem;
        height: 9rem;
        margin-right: 2rem;
        border: 2px solid var(--cor-texto);
        border-radius: 100%;
        object-fit: cover;
    }

    .apresentacao .vertical {
        align-self: center;
    }

    @media (max-width: 450px) {
        .apresentacao {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .apresentacao .foto {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
/* #endregion */

/* #region competencias */
.competencias {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-2);
}

    .campo {
        min-width: 10rem;
        padding: 1rem;
        flex: 1;
    }

        .campo i {
            font-size: 3rem;
        }
/* #endregion */

/* #region historico */
.historico {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal-1);
}

    .historico input {
        /* opacity: 0; */
        display: none
    }

        .historico #profissional:checked ~ p label[for='profissional'],
        .historico #educacional:checked ~ p label[for='educacional'] {
            opacity: 100%;
        }

        .historico #profissional:not(:checked) ~ .profissional {
            display: none;
        }

        .historico #educacional:not(:checked) ~ .educacional {
            display: none;
        }

    .historico label {
        border: 1.5px solid var(--cor-texto);
        border-radius: 20px;
        padding: 0.25rem 0.5rem;
        opacity: 70%;
        cursor: pointer;
    }

        .historico label:hover {
            background-color: var(--cor-principal-1-escuro);
        }

    .historico .linha-vertical {
        position: absolute;
        top: 4.25rem;
        left: 14.95rem;
        
        height: calc(100% - 10rem);
        width: 2px;
        background-color: var(--cor-texto);
    }

    .historico .ano {
        width: calc(50% - 1.5rem);
        text-align: end;
        margin: 0 0 1rem 3.15rem;
        border-top: 1.5px solid var(--cor-texto);
        padding-top: 0.5rem;
        padding-right: 1.5rem;
    }

        .historico .ano:first-of-type {
            margin-top: 0;
        }

    .experiencia {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        z-index: 1;
    }

    .experiencia .imagem {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
        border: 2px solid var(--cor-texto);
        border-radius: 100%;
        object-fit: contain;
    }

    .experiencia .informacoes {
        text-align: start;
    }

    .experiencia .titulo {
        margin: 0;
    }
/* #endregion */

/* #region trabalhos */
.trabalhos {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-2);
}

    .trabalho {
        width: 12.5rem;
        height: 12.5rem;
        margin: 0.5rem auto;
        border: 1px solid rgba(255, 255, 255, 0.9);
        position: relative;
        box-sizing: border-box;
        border-radius: 5px;
        z-index: 1;
        background-color: #000;
        overflow: hidden;
    }

    .trabalho img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .trabalho .detalhes {
        height: 100%;
        padding: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
    }

            .trabalho .detalhes h3 {
                font-size: 1.1rem;
                margin: 0.5rem 0;
            }

            .trabalho .detalhes p {
                font-size: 0.9rem;
            }

        .trabalho:hover .detalhes, .trabalho:active .detalhes {
            opacity: 1;
            animation-duration: 0.5s;
            animation-name: trabalho-selecionado;
        }

    .link-portfolio {
        width: 100%;
    }

/* #endregion */

/* #region media-queries */
@media (max-width: 415px) {
    .campo:not(.campo-outros) {
        border-bottom: 1px solid #fff;
    }
}

@media (min-width: 416px) {
    .campo-front-end, .campo-back-end {
        border-bottom: 1px solid #fff;
    }

    .campo-front-end, .campo-games {
        border-right: 1px solid #fff;
    }
}

@media (min-width: 600px) {
    .campo {
        min-width: 0;
        border-bottom: none;
    }

    .campo-back-end {
        border-right: 1px solid #fff;
    }
}
/* #endregion */

/* #region animações */
@keyframes trabalho-selecionado {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* #endregion */