/* #region valores padrao */
html {
    background-color: var(--cor-principal-1);
}
/* #endregion */

/* #region apresentação */
.apresentacao {
    background-color: var(--cor-principal-1);
    display: flex;
    align-items: center;
}

    .apresentacao .foto {
        width: 9rem;
        height: 9rem;
        margin-right: 2rem;
        border: 2px solid var(--cor-texto);
        border-radius: 100%;
        object-fit: cover;
    }

    .apresentacao .vertical {
        align-self: center;
    }

    @media (max-width: 450px) {
        .apresentacao {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .apresentacao .foto {
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
/* #endregion */

/* #region competencias */
.competencias {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-2);
}

    .competencias h2 {
        margin-bottom: 0.5rem;
    }

    .competencias h2 {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

        .competencias h2:last-of-type {
            margin-bottom: 1.25rem;
        }

    .competencias .linguagens {
        width: 100%;
        margin: 0.5rem 0 1rem 0;
        font-size: 1.75rem;
    }

        .competencias .linguagens a {
            text-decoration: none;
        }
    
        .competencias .linguagens i {
            margin-right: 0.5rem;
        }

    .campo {
        min-width: 10rem;
        padding: 1rem;
        flex: 1;
    }

        .campo i {
            font-size: 3rem;
        }
/* #endregion */

/* #region experiencias */
.experiencias {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal-1);
}

    .experiencias input {
        /* opacity: 0; */
        display: none
    }

    .experiencias .filtros {
        margin-bottom: 1.5rem;
    }

    .experiencias label {
        border: 1.5px solid var(--cor-texto);
        border-radius: 20px;
        padding: 0.25rem 0.5rem;
        opacity: 70%;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.25s;
    }

        .experiencias label:hover {
            background-color: var(--cor-principal-1-escuro);
        }

        .experiencias #profissional:checked ~ .filtros label[for='profissional'],
        .experiencias #educacional:checked ~ .filtros label[for='educacional'] {
            opacity: 100%;
        }

    .experiencias .ano,
    .experiencias .experiencia {
        display: none;
    }

    .experiencias #profissional:checked ~ .lista .experiencia.profissional,
    .experiencias #educacional:checked ~  .lista .experiencia.educacional {
        display: flex;
    }

    .experiencias #profissional:checked ~ .lista .ano.profissional,
    .experiencias #educacional:checked ~  .lista .ano.educacional {
        display: block;
    }

    .experiencias .lista {
        padding-left: 2.5rem;
    }

        .experiencias .lista-interno {
            border-left: 1.5px solid var(--cor-texto);
        }

        .experiencias .lista-interno > * {
            margin-left: -3.15rem;
        }

    .experiencias .ano {
        width: calc(52.5% - 1.5rem);
        text-align: end;
        margin: 0 0 1rem 0rem;
        border-top: 1.5px solid var(--cor-texto);
        padding-top: 0.5rem;
        padding-right: 1.5rem;
    }

        .experiencias .ano:first-of-type {
            margin-top: 0;
        }

    .experiencia {
        margin-bottom: 3rem;
        align-items: start;
        /* justify-content: center; */
        z-index: 1;
    }

    .experiencia .imagem {
        width: 6rem;
        height: 6rem;
        margin-right: 1rem;
        border: 2px solid var(--cor-texto);
        border-radius: 100%;
        object-fit: contain;
    }

    .experiencia .informacoes {
        text-align: start;
    }

    .experiencia .titulo {
        margin: 0;
    }

    @media (max-width: 500px) {

    }
/* #endregion */

/* #region trabalhos */
.trabalhos {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-2);
}

    .trabalho {
        width: 15rem;
        height: 15rem;
        margin: 0.5rem auto;
        border: 1px solid rgba(255, 255, 255, 0.9);
        position: relative;
        box-sizing: border-box;
        border-radius: 5px;
        z-index: 1;
        background-color: #000;
        overflow: hidden;
    }

    .trabalho img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .trabalho .detalhes {
        height: 100%;
        padding: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
    }

            .trabalho .detalhes h3 {
                font-size: 1.1rem;
                margin: 0.5rem 0;
            }

            .trabalho .detalhes p {
                font-size: 0.9rem;
            }

        .trabalho:hover .detalhes, .trabalho:active .detalhes {
            opacity: 1;
            animation-duration: 0.5s;
            animation-name: trabalho-selecionado;
        }

    .link-portfolio {
        width: 100%;
    }

/* #endregion */

/* #region media-queries */
@media (max-width: 415px) {
    .campo:not(.campo-outros) {
        border-bottom: 1px solid #fff;
    }
}

@media (min-width: 416px) {
    .campo-front-end, .campo-back-end {
        border-bottom: 1px solid #fff;
    }

    .campo-front-end, .campo-games {
        border-right: 1px solid #fff;
    }
}

@media (min-width: 600px) {
    .campo {
        min-width: 0;
        border-bottom: none;
    }

    .campo-back-end {
        border-right: 1px solid #fff;
    }
}
/* #endregion */

/* #region animações */
@keyframes trabalho-selecionado {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* #endregion */