@import url("/css/base.css");

/* #region valores padrao */
html {
    background-color: var(--cor-principal-1);
}
/* #endregion */

/* #region apresentação */
.apresentacao {
    background-color: var(--cor-principal-1);
}

    .apresentacao a {
        text-decoration: underline;
    }
/* #endregion */

/* #region campos */
.campos {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-2);
}

    .campo {
        min-width: 10rem;
        padding: 1rem;
        flex: 1;
    }

        .campo i {
            font-size: 3rem;
        }
/* #endregion */

/* #region trabalhos */
.trabalhos {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-1);
}

    .trabalho {
        width: 15rem;
        height: 12.5rem;
        margin: 0.5rem auto;
        border: 1px solid rgba(255, 255, 255, 0.9);
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        background-color: #000;
        overflow: hidden;
    }

    .trabalho img {
        max-width: 100%;
    }
    
    .trabalho .detalhes {
        height: 100%;
        padding: 0 1rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
    }

            .trabalho .detalhes h3 {
                margin: 0.5rem 0;
            }

            .trabalho .detalhes a {
                border: 1px solid var(--cor-principal-2);
                padding: 0.5rem;
                border-radius: 100px;
                color: #fff;
            }

                .trabalho .detalhes a:hover, .trabalho .detalhes a:active {
                    background-color: var(--cor-principal-2);
                }

        .trabalho:hover .detalhes, .trabalho:active .detalhes {
            opacity: 1;
            animation-duration: 0.5s;
            animation-name: trabalho-selecionado;
        }

    .link-portfolio {
        width: 100%;
    }

/* #endregion */

/* #region media-queries */
@media (max-width: 415px) {
    .campo:not(.campo-outros) {
        border-bottom: 1px solid #fff;
    }
}

@media (min-width: 416px) {
    .campo-front-end, .campo-back-end {
        border-bottom: 1px solid #fff;
    }

    .campo-front-end, .campo-games {
        border-right: 1px solid #fff;
    }
}

@media (min-width: 600px) {
    .campo {
        min-width: 0;
        border-bottom: none;
    }

    .campo-back-end {
        border-right: 1px solid #fff;
    }
}
/* #endregion */

/* #region animações */
@keyframes trabalho-selecionado {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/* #endregion */