@import url("/css/base.css");

/* #region valores padrao */
html {
    background-color: var(--cor-principal-2);
}

body {
    text-align: center;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cor-principal-1)
}
/* #endregion */

/* #region filtros */
.filtros {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-1);
}

    .filtro {
        margin: 0.5rem 0.5rem 0 0;
        padding: 0.5rem;
        border-radius: 1000px;
        background-color: var(--cor-principal-2);
    }

        .filtro:hover, .filtro:active {
            background-color: var(--cor-principal-2);
        }

        .filtro:active {
            background-color: var(--cor-principal-1);
        }

    .filtro input {
        display: none;
    }

    .filtro .fechar {
        display: none;
        width: 1.15rem;
        height: 1.15rem;
        padding: 0.1rem;
        border-radius: 100%;
        background-color: #fff;
        color: var(--cor-principal-2);
        font-weight: bold;
        line-height: 1.15rem;
    }

        .filtro input:checked ~ .fechar {
            display: inline-block;
        }
/* #endregion */

/* #region trabalhos */
.trabalhos {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-principal-2);
}

    .trabalho {
        width: 12.5rem;
        height: 10.5rem;
        margin: 0.15rem;
        border: 1px solid rgba(255, 255, 255, 0.75);
        border-radius: 0.2rem;
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        background-color: #000;
        font-size: 0.8rem;
    }

    .trabalho img {
        max-width: 100%;
    }

    .trabalho .detalhes {
        height: 100%;
        padding: 0 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
    }

            .trabalho .detalhes h3 {
                margin: 0.5rem 0;
            }

            .trabalho .detalhes a {
                border: 1px solid var(--cor-principal-1);
                padding: 0.5rem;
                border-radius: 100px;
                color: #fff;
            }

                .trabalho .detalhes a:hover, .trabalho .detalhes a:active {
                    background-color: var(--cor-principal-1);
                }

        .trabalho:hover .detalhes, .trabalho:active .detalhes {
            opacity: 1;
            animation-duration: 0.5s;
            animation-name: trabalho-selecionado;
        }
/* #endregion */

/* #region Modal */
.modal-area {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

    .modal-area:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modal-janela {
        width: 50%;
        padding: 1.5rem;
        position: absolute;
        top: 52.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--cor-secundaria-1);
        color: var(--cor-texto);
        border-radius: 1.5%;
    }

    .modal-janela h4 {
        margin: 0;
        font-size: 1.35rem;
    }

    .modal-janela p {
        font-size: 1rem;
    }

    .modal-janela .imagens {
        margin-bottom: 1rem;
        padding: 0 0 0.25rem 0;
        display: flex;
        overflow: auto;
    }
    
        .modal-janela .imagens img {
            width: 13rem;
            height: 22rem;
            object-fit: cover;
            margin: 0 0.5rem;
        }

    .modal-janela .link-trabalho {
        border: 1px solid var(--cor-principal-1);
        padding: 0.5rem;
        font-size: 0.9rem;
        border-radius: 100px;
        color: var(--cor-texto);
    }

        .modal-janela .link-trabalho:hover, .modal-janela .link-trabalho:active {
            background-color: var(--cor-principal-1);
        }
  
.modal-fechar {
    margin: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}
/* #endregion */

/* #region media queries */
@media (max-width: 768px) {
    .modal-janela {
        width: 80%;
        padding: 0.85rem;
    }

    .modal-janela h4 {
        font-size: 1.1rem;
    }

    .modal-janela p {
        font-size: 0.9rem;
    }
    
    .modal-janela .imagens img {
        width: 10rem;
        height: 16rem;
    }

    .modal-fechar {
        font-size: 1.5rem;
    }

    .trabalho {
        width: 15.5rem;
        height: 12.5rem;
        font-size: 1.1rem;
    }

        .trabalho .capa-trabalho {
            width: 15.5rem;
            height: 12.35rem;
        }
}
/* #endregion */