@import url("/css/base.css");

/* #region valores padrao */
html {
    background-color: var(--cor-principal-2);
}

body {
    text-align: center;
}
/* #endregion */

/* #region filtros */
.filtros {
    padding: 0.5rem 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-principal-1);
}

    .filtro {
        margin: 0.5rem 0.5rem 0 0;
        padding: 0.5rem;
        border-radius: 1000px;
        background-color: var(--cor-principal-2);
    }

        .filtro:hover, .filtro:active {
            background-color: var(--cor-principal-2);
        }

        .filtro:active {
            background-color: var(--cor-principal-1);
        }

    .filtro input {
        display: none;
    }

    .filtro .fechar {
        display: none;
        width: 1.15rem;
        height: 1.15rem;
        padding: 0.1rem;
        border-radius: 100%;
        background-color: #fff;
        color: var(--cor-principal-2);
        font-weight: bold;
        line-height: 1.15rem;
    }

        .filtro input:checked ~ .fechar {
            display: inline-block;
        }
/* #endregion */

/* #region trabalhos */
.trabalhos {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--cor-principal-2);
}

    .trabalho {
        width: 12.5rem;
        height: 10.5rem;
        border: 1px solid rgba(255, 255, 255, 0.9);
        position: relative;
        box-sizing: border-box;
        z-index: 1;
        background-color: #000;
        overflow: hidden;
        font-size: 0.8rem;
    }

    .trabalho img {
        max-width: 100%;
    }

    .trabalho .detalhes {
        height: 100%;
        padding: 0 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
    }

            .trabalho .detalhes h3 {
                margin: 0.5rem 0;
            }

            .trabalho .detalhes a {
                border: 1px solid var(--cor-principal-1);
                padding: 0.5rem;
                border-radius: 100px;
                color: #fff;
            }

                .trabalho .detalhes a:hover, .trabalho .detalhes a:active {
                    background-color: var(--cor-principal-1);
                }

        .trabalho:hover .detalhes, .trabalho:active .detalhes {
            opacity: 1;
            animation-duration: 0.5s;
            animation-name: trabalho-selecionado;
        }
/* #endregion */

/* #region media queries */
@media (max-width: 400px) {
    .trabalho {
        width: 10rem;
        height: 8rem;
        font-size: 0.65rem;   
    }
}

@media (max-width: 320px) {
    .trabalho {
        width: 15rem;
        height: 12.5rem;
    }
}
/* #endregion */