/* #region estrutura da página */
.secao.detalhes {
    margin-bottom: calc(var(--espacamento-entre-secoes) * -1);
    padding-bottom: calc(var(--espacamento-entre-secoes) - 1rem);
}

.secao.formulario .conteudo {
    margin: 0.4rem;
    border-radius: 1.2rem;
    padding: 2.4rem;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-escuro);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* #endregion */

/* #region detalhes */
.detalhes {
    background-color: var(--cor-primaria);
    padding: 1.6rem;
}

.detalhes .introducao {
    margin: 1.8rem;
    font-size: 1.8rem;
}

.detalhes .opcoes {
    padding: 0 3.6rem;
    list-style: decimal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    @media (min-width: 768px) {
        .detalhes .opcao {
           width: 50%;
        }
    }

.detalhes .opcao {
    margin-bottom: 1.6rem;
    text-align: center;
}
/* #endregion */

/* #region formulário */
.formulario .titulo {
    color: var(--cor-primaria-escura);
    font-size: 2.2rem;
}

.formulario .campo {
    margin: 0.75rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
}

.formulario .atencao {
    margin: 1.6rem 0;
    font-weight: bold;
}

.formulario .atencao {
    margin-bottom: 1rem;
}

.formulario label {
    margin: 0 0 0.5rem 0;
    cursor: pointer;
}

.formulario input,
.formulario textarea {
    width: 100%;
    margin-bottom: 0.8rem;
    border: 0.1rem solid rgba(51, 51, 51, 0.5);
    padding: 0.8rem;
    border-radius: 0.5rem;
    background-color: var(--cor-fundo-claro);
    color: var(--cor-texto-escuro);
}

    .formulario input::placeholder,
    .formulario textarea::placeholder {
        color: rgba(51, 51, 51, 0.5);
    }

.formulario input {
    height: 4rem;
}

.formulario textarea {
    height: 12rem;
}

.formulario .botao {
    margin-top: 1.6rem;
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 2rem;
    align-self: center;
    background-color: var(--cor-primaria);
    color: var(--cor-texto-claro);
    font-size: 1.8rem;
    font-weight: 600;
}

    .formulario .botao:hover,
    .formulario .botao:active {
        background-color: var(--cor-primaria-escura);
    }
/* #endregion */
