:root {
    font-size: 60%;

    --cor-primaria: #3498DB;
    --cor-primaria-escura: #2975A8;
    --cor-fundo-claro: #FFFFFF;
    --cor-fundo-semi-claro: #EEEEEE;
    --cor-fundo-escuro: #1A2A3A;
    --cor-texto-claro: #FFFFFF;
    --cor-texto-escuro: #333;

    --cor-javascript: #DDC508;
    --cor-typescript: #007ACC;
    --cor-python: #3776AB;
    --cor-csharp: #8A2BE2;
    --cor-c: #00599C;
    --cor-cpp: #00599C;

    --cor-front-end: #FF1E56;
    --cor-back-end: #3C873A;
    --cor-jogos: #872BFF;
    --cor-design: #EA7600;

    --cor-twitter: #56ACEE;
    --cor-linkedin: #007AB9;
    --cor-github: #24292E;
    --cor-itchio: #FA5C5B;
    --cor-figma: #f24e1e;
    --cor-meetup: #ED1C40;
    --cor-email: var(--cor-primaria);

    --tamanho-barra-navegacao: 4.8rem;
    --tamanho-rodape: 25rem;
    --espacamento-entre-secoes: 7rem;
}

/* #region valores padrão para tags */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html, body {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--cor-fundo-semi-claro);
}

body,
button,
input,
textarea {
    color: var(--cor-texto-claro);
    font-size: 1.6rem;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button, label {
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

a, i {
    color: inherit;
    transition: opacity 0.25s;
}

a:hover,
a:active {
    opacity: 0.8;
}
/* #endregion */

/* #region conteudo-principal */
.conteudo-principal {
    min-height: 100%;
    padding-top: var(--tamanho-barra-navegacao);
    padding-bottom: var(--tamanho-rodape);
}

.conteudo-principal > .secao {
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
}

    @media (min-width: 900px) {
        .conteudo-principal > .secao {
            padding: 1.5rem 15% 1rem 15%;
        }
    }
/* #endregion */

/* #region .barra-navegacao */
.barra-navegacao {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--tamanho-barra-navegacao);
    padding: 1.6rem 0.8rem;
    background-color: var(--cor-fundo-escuro);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.barra-navegacao .logo,
.barra-navegacao .botao-hamburguer {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.15rem solid var(--cor-fundo-claro);
    border-radius: 100%;
    padding: 0.25rem;
}

.barra-navegacao .logo {
    background-color: var(--cor-primaria);
}

    .barra-navegacao .logo img {
        width: 100%;
    }

.barra-navegacao .titulo {
    font-size: 1.8rem;
    text-align: center;
}

    @media (min-width: 768px) {
        .barra-navegacao .titulo {
            margin-left: 1.6rem;
            flex-grow: 1;
            text-align: left;
        }
    }

.barra-navegacao .botao-hamburguer {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    @media (min-width: 768px) {
        .barra-navegacao .botao-hamburguer {
            display: none;
        }
    }
/* #endregion */

/* #region menu-lateral */
#input-menu-lateral:checked ~ .menu-lateral {
    right: 0;
    animation-duration: 0.2s;
    animation-name: abrir-menu;
}

.menu-lateral {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 100;
}

.menu-lateral .fundo-fechar {
    width: 10%;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-lateral .conteudo  {
    left: 10%;
    width: 90%;
    height: 100%;
    float: right;
    background-color: var(--cor-fundo-escuro);
}

.menu-lateral .logo {
    width: 19.2rem;
    height: 19.2rem;
    margin: 3.2rem auto;
    padding: 1.6rem;
}

.menu-lateral .links {
    list-style: none;
}

    .menu-lateral .links > * {
        display: flex;
    }

    .menu-lateral .links > *:first-of-type {
        border-top: 1px solid var(--cor-texto-claro);
    }

.menu-lateral .link {
    width: 100%;
    height: 6rem;
    padding: 1.6rem;
    border-bottom: 0.1rem solid var(--cor-texto-claro);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .menu-lateral .link i {
        font-size: 2.8rem;
        margin-right: 1.6rem;
    }

    .menu-lateral .link span {
        font-size: 2rem;
    }

    .menu-lateral .link.selecionado,
    .menu-lateral .link:hover,
    .menu-lateral  .link:active {
        background-color: var(--cor-primaria);
    }

@media (min-width: 768px) {
    .menu-lateral {
        width: auto;
        height: auto;
        position: relative;
        right: 0;
    }

    .menu-lateral .logo {
        display: none;
    }

    .menu-lateral .links {
        display: flex;
        justify-content: flex-end;
    }

        .menu-lateral .links > *:first-of-type {
            border: none;
        }

    .menu-lateral .link {
        width: initial;
        height: 1.5rem;
        border-bottom: none;
        margin-right: 0.5rem;
        line-height: 1.5rem;
    }

        .menu-lateral .link.selecionado,
        .menu-lateral .link:hover,
        .menu-lateral .link:active {
            background-color: initial;
            color: var(--cor-primaria);
            background-color: initial;
        }

        .menu-lateral .link.selecionado {
            padding-bottom: 0.5rem;
            border-bottom: 0.25rem solid var(--cor-primaria-2);
            font-weight: bold;
            
        }

            .menu-lateral .link.selecionado span {
                font-size: 2.2rem;
            }

        .menu-lateral .link i {
            display: none;
        }
}

@keyframes abrir-menu {
    from {
        transform: translate(120%);
    }

    to {
        right: translate(0);
    }
}
/* #endregion */

/* #region rodapé */
.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--tamanho-rodape);
    padding: 2rem;
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

    @media (min-width: 768px) {
        :root {
            --tamanho-rodape: 16rem;
        }
    }

.rodape .texto {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    text-align: center;
}

    .rodape .texto .icon-heart {
        color: red;
    }

.rodape .redes-sociais {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .rodape .quebra-linha {
        flex-basis: 100%;
    }
}

.rodape .rede {
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border-radius: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .rodape .rede i {
        font-size: 2.4rem;
    }

    .rodape .rede.twitter {
        background-color: var(--cor-twitter);
    }

    .rodape .rede.linkedin {
        background-color: var(--cor-linkedin);
    }

    .rodape .rede.github {
        background-color: var(--cor-github);
    }

    .rodape .rede.itchio {
        background-color: var(--cor-itchio);
    }

    .rodape .rede.figma {
        background-color: var(--cor-figma);
    }

    .rodape .rede.meetup {
        background-color: var(--cor-meetup);
    }

    .rodape .rede.email {
        background-color: var(--cor-primaria);
    }
/* #endregion */
