:root {
    font-size: 60%;

    --cor-primaria: #ff2d9a;
    --cor-primaria-escuro: #b8206e;
    --cor-secundaria: #3498db;
    --cor-secundaria-escuro: #2975a8;
    --cor-fundo-claro: #fff;
    --cor-fundo-semi-claro: #eee;
    --cor-fundo-escuro: #1a2a3a;
    --cor-texto-claro: #fff;
    --cor-texto-escuro: #222;
}

/* #region valores padrão para tags */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html {
    position: relative;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body,
input,
button,
textarea,
a {
    color: var(--cor-texto-claro);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button, label {
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}

main {
    min-height: 100%;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

section {
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
}
/* #endregion */

/* #region .barra-navegacao */
.barra-navegacao {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.8rem;
    padding: 1.6rem 0.8rem;
    background-color: var(--cor-fundo-escuro);
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}

.barra-navegacao .logo,
.barra-navegacao .botao-hamburguer {
    width: 3.2rem;
    height: 3.2rem;
    border: 0.15rem solid var(--cor-fundo-claro);
    border-radius: 100%;
    padding: 0.25rem;
}

.barra-navegacao .logo {
    background-color: var(--cor-secundaria);
}

    .barra-navegacao .logo img {
        width: 100%;
    }

.barra-navegacao .titulo {
    font-size: 1.8rem;
    text-align: center;
}

    @media (min-width: 768px) {
        .barra-navegacao .titulo {
            margin-left: 1.6rem;
            flex-grow: 1;
            text-align: left;
        }
    }

.barra-navegacao .botao-hamburguer {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    @media (min-width: 768px) {
        .barra-navegacao .botao-hamburguer {
            display: none;
        }
    }
/* #endregion */

/* #region menu-lateral */
#input-menu-lateral:checked ~ .menu-lateral {
    right: 0;
    animation-duration: 0.2s;
    animation-name: abrir-menu;
}

.menu-lateral {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: fixed;
    top: 0;
    right: -110%;
    z-index: 100;
}

.menu-lateral .fundo-fechar {
    width: 10%;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.3);
}

.menu-lateral .conteudo  {
    left: 10%;
    width: 90%;
    height: 100%;
    float: right;
    background-color: var(--cor-fundo-escuro);
}

.menu-lateral .logo {
    width: 19.2rem;
    height: 19.2rem;
    margin: 3.2rem auto;
    padding: 1.6rem;
}

.menu-lateral .links {
    list-style: none;
}

    .menu-lateral .links > * {
        display: flex;
    }

    .menu-lateral .links > *:first-of-type {
        border-top: 1px solid var(--cor-texto-claro);
    }

.menu-lateral .link {
    width: 100%;
    height: 6rem;
    padding: 1.6rem;
    border-bottom: 0.1rem solid var(--cor-texto-claro);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .menu-lateral .link i {
        font-size: 2.8rem;
        margin-right: 1.6rem;
    }

    .menu-lateral .link span {
        font-size: 2rem;
    }

    .menu-lateral .link.selecionado,
    .menu-lateral .link:hover,
    .menu-lateral  .link:active {
        background-color: var(--cor-secundaria);
    }

@media (min-width: 768px) {
    .menu-lateral {
        width: auto;
        height: auto;
        position: relative;
        right: 0;
    }

    .menu-lateral .logo {
        display: none;
    }

    .menu-lateral .links {
        display: flex;
        justify-content: flex-end;
    }

        .menu-lateral .links > *:first-of-type {
            border: none;
        }

    .menu-lateral .link {
        width: initial;
        height: 1.5rem;
        border-bottom: none;
        margin-right: 0.5rem;
        line-height: 1.5rem;
    }

        .menu-lateral .link.selecionado,
        .menu-lateral .link:hover,
        .menu-lateral .link:active {
            background-color: initial;
            color: var(--cor-secundaria);
            background-color: initial;
        }

        .menu-lateral .link.selecionado {
            padding-bottom: 0.5rem;
            border-bottom: 0.25rem solid var(--cor-secundaria-2);
            font-weight: bold;
            
        }

            .menu-lateral .link.selecionado span {
                font-size: 2.2rem;
            }

        .menu-lateral .link i {
            display: none;
        }
}

@keyframes abrir-menu {
    from {
        transform: translate(120%);
    }

    to {
        right: translate(0);
    }
}
/* #endregion */

/* #region footer */
footer {
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--cor-fundo-escuro);
    color: var(--cor-texto-claro);
    text-align: center;
}

    footer .icon-heart {
        color: red;
    }

    footer .redes-sociais {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

        footer .redes-sociais a {
            width: 2.5rem;
            min-width: 2.5rem;
            height: 2.5rem;
            margin: 0 0.5rem 0.5rem 0.5rem;
            border-radius: 50%;
            text-decoration: none;
        }

            footer .redes-sociais i {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }

        footer .redes-sociais a.twitter {
            background-color: #56ACEE;
        }

        footer .redes-sociais a.linkedin {
            background-color: #007AB9;
        }

        footer .redes-sociais a.github {
            background-color: #000;
        }

        footer .redes-sociais a.itchio {
            background-color: #FA5C5B;
        }

        footer .redes-sociais a.figma {
            background-color: #f24e1e;
        }

        footer .redes-sociais a.meetup {
            background-color: #ED1C40;
        }

        footer .redes-sociais a.email {
            background-color: var(--cor-secundaria);
        }
/* #endregion */

/* #region media queries */
@media (max-width: 600px) {
    main {
        padding-bottom: 16rem;
    }
    
    footer {
        height: 16rem;
    }
}

@media (min-width: 900px) {
    section {
        padding: 1.5rem 15% 1rem 15%;
    }
}
/* #endregion */
