/* #region apresentação */
.apresentacao {
    background-color: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
}

    @media (max-width: 450px) {
        .apresentacao {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

.apresentacao .foto {
    width: 16rem;
    height: 16rem;
    margin-right: 2rem;
    border: 0.2rem solid var(--cor-texto-claro);
    border-radius: 100%;
    object-fit: cover;
}

    @media (max-width: 450px) {
        .apresentacao .foto {
            margin-right: 0;
            margin-bottom: 1.6rem;
        }
    }

.apresentacao .titulo,
.apresentacao .texto {
    margin-bottom: 1.6rem;
}
/* #endregion */

/* #region competencias */
.competencias {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--cor-secundaria);
}

.competencias .titulo {
    width: 100%;
    margin-bottom: 2.4rem;
    font-size: 2.4rem;
    font-weight: 600;
}

.competencias .linguagens {
    width: 100%;
    margin-bottom: 2.4rem;
}

    .competencias .linguagens > * {
        text-decoration: none;
    }

    .competencias .linguagens i {
        margin-right: 0.8rem;
        font-size: 2.8rem;
    }

.competencias .campo .icone {
    font-size: 4.8rem;
}

.competencias .campo .nome {
    margin: 1.2rem 0;
    font-size: 2rem;
    font-weight: 600;
}

@media (max-width: 600px) {
    .competencias .campo {
        flex-basis: 100%;
        padding: 1.6rem 8rem;
    }

    .competencias .campo:not(.campo-design) {
        border-bottom: 0.2rem solid var(--cor-fundo-claro);
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .competencias .campo {
        flex-basis: 50%;
        padding: 1.6rem;
    }

    .campo-front-end, .campo-back-end {
        border-bottom: 0.2rem solid var(--cor-fundo-claro);
    }

    .campo-front-end, .campo-jogos {
        border-right: 0.2rem solid var(--cor-fundo-claro);
    }
}

@media (min-width: 769px) {
    .competencias .campo {
        flex-basis: 25%;
        border-bottom: none;
        padding: 1.6rem;
    }

    .competencias .campo:not(.campo-design) {
        border-right: 0.2rem solid var(--cor-fundo-claro);
    }
}

/* #endregion */

/* #region experiencias */
.experiencias {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-primaria);
}

.experiencias .titulo {
    margin-bottom: 0.8rem;
}

.experiencias .filtros {
    margin-bottom: 1.6rem;
}

.experiencias .filtro {
    border: 0.15rem solid var(--cor-texto-claro);
    border-radius: 2rem;
    padding: 0.4rem 0.8rem;
    opacity: 70%;
    font-size: 1.4rem;
    transition: all 0.25s;
}

    .experiencias .filtro:hover {
        background-color: var(--cor-primaria-escuro);
    }

    .experiencias #profissional:checked ~ .filtros .filtro[for='profissional'],
    .experiencias #educacional:checked ~ .filtros .filtro[for='educacional'] {
        opacity: 100%;
        font-weight: 600;
    }

.lista .ano,
.lista .experiencia {
    display: none;
}

    .experiencias #profissional:checked ~ .lista .ano.profissional,
    .experiencias #educacional:checked ~  .lista .ano.educacional {
        display: block;
    }

    .experiencias #profissional:checked ~ .lista .experiencia.profissional,
    .experiencias #educacional:checked ~  .lista .experiencia.educacional {
        display: flex;
    }

.experiencias .lista {
    padding-left: 3.8rem;
}

    .experiencias .lista-interno {
        border-left: 0.15rem solid var(--cor-texto-claro);
    }

    .experiencias .lista-interno > .experiencia {
        margin-left: -4.25rem;
    }

.lista .ano {
    width: calc(57.5% - 0.1rem);
    margin: 1.6rem 0;
    border-top: 0.15rem solid var(--cor-texto-claro);
    padding: 0.4rem 2.4rem 0 0;
    font-size: 1.8rem;
    text-align: end;
}

    @media (min-width: 768px) {
        .experiencias .ano {
            width: calc(53.5% - 0.1rem);
        }
    }

    .lista .ano:first-of-type {
        margin-top: 0;
    }

.lista .experiencia {
    margin-bottom: 3.2rem;
    align-items: start;
    z-index: 1;
}

    .lista .experiencia .imagem {
        width: 8.4rem;
        height: 8.4rem;
        margin-right: 1rem;
        border: 2px solid var(--cor-texto-claro);
        border-radius: 100%;
        object-fit: contain;
    }

        .lista .experiencia .imagem:last-of-type {
            margin-bottom: -0.4rem;
        }

    .lista .experiencia .informacoes {
        text-align: start;
    }

    .lista .experiencia .titulo {
        margin-bottom: 0.8rem;
    }

        .lista .experiencia .titulo a {
            font-size: 1.8rem;
            font-weight: 600;
        }
/* #endregion */

/* #region trabalhos */
.trabalhos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--cor-secundaria);
}

.trabalhos .titulo {
    flex-basis: 100%;
    margin-bottom: 1.6rem;
}

.trabalho {
    width: 30rem;
    height: 30rem;
    margin: 0.8rem auto;
    border: 0.2rem solid var(--cor-fundo-claro);
    position: relative;
    border-radius: 1.2rem;
    z-index: 1;
    background-color: var(--cor-fundo-escuro);
    overflow: hidden;
}

    .trabalho .imagem {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .trabalho .detalhes {
        height: 100%;
        padding: 0.5rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        transition: all 0.5s;
    }

        .trabalho .detalhes .nome {
            margin-bottom: 1.6rem;
            font-size: 2rem;
            font-weight: 600;
        }

        .trabalho:hover .detalhes,
        .trabalho:active .detalhes {
            opacity: 1;
        }

.link-portfolio {
    flex-basis: 100%;
    margin-top: 0.8rem;
}
/* #endregion */
