:root {
  font-size: 60%;
  --color-primary: #0074D9;
  --color-primary-dark: #001F3F;
  --color-main: var(--color-primary);
  --color-main-dark: var(--color-primary-dark);
  --color-background-light: #FFFFFF;
  --color-background-dark: #1A2A3A;
  --color-background-semi-dark: #2B3B4B;
  --color-text-light: #FFFFFF;
  --color-text-dark: #333;
  --color-disabled: #999;
  --color-text-dynamic: var(--color-text-dark);
  --color-background-dynamic: var(--color-background-light);
  --color-javascript: #DDC508;
  --color-typescript: #007ACC;
  --color-python: #3776AB;
  --color-csharp: #8A2BE2;
  --color-c: #00599C;
  --color-cpp: #00599C;
  --color-front-end: #E86229;
  --color-back-end: #3D9970;
  --color-jogos: #3D8FCC;
  --color-design: #F012BE;
  --color-twitter: #56ACEE;
  --color-linkedin: #007AB9;
  --color-github: #24292E;
  --color-itchio: #FA5C5B;
  --color-figma: #f24e1e;
  --color-meetup: #ED1C40;
  --color-email: var(--color-main);
  --tamanho-navigation-bar: 4.8rem;
  --tamanho-footer: 25rem;
  --espacamento-entre-secoes: 7rem;
}

/* #region default tag values */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  outline: none;
}

html, body {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--color-background-dark);
}

body,
button,
input,
textarea {
  color: var(--color-text-light);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button, label {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

a, i {
  color: inherit;
  transition: opacity 0.25s;
}

a:hover,
a:active,
a:focus {
  opacity: 0.9;
}

/* #endregion */

/* #region dark mode */
#dark-mode:not(:checked) ~ .navigation-bar .dark-mode,
#dark-mode:checked ~ .navigation-bar .light-mode {
  display: flex;
}

#dark-mode:checked ~ .navigation-bar .dark-mode {
  display: none;
}

#dark-mode:checked ~ .main-content {
  --color-main: var(--color-primary-dark);
  --color-main-dark: var(--color-primary);
  --color-text-dynamic: var(--color-text-light);
  --color-background-dynamic: var(--color-background-semi-dark);
  background-color: var(--color-background-dark);
}

@media (prefers-color-scheme: dark) {
  .navigation-bar .choice-dark-mode,
  .navigation-bar .choice-light-mode {
    display: none;
  }

  #dark-mode:checked ~ .main-content {
    --color-main: var(--color-primary-dark);
    --color-main-dark: var(--color-primary);
    --color-text-dynamic: var(--color-text-light);
    --color-background-dynamic: var(--color-background-semi-dark);
    background-color: var(--color-background-dark);
  }
}

/* #endregion */

/* #region main-content */
.main-content {
  min-height: 100%;
  padding-top: var(--tamanho-navigation-bar);
  padding-bottom: var(--tamanho-footer);
  background-color: var(--color-background-light);
}

.main-content > .section {
  padding: 1.5rem 1rem 1rem 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .main-content > .section {
    padding: 1.5rem 20% 1rem 20%;
  }
}

.main-content > .section:last-of-type {
  border-bottom: 0.1rem solid var(--color-text-dynamic);
}

/* #endregion */

/* #region navigation-bar */
.navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--tamanho-navigation-bar);
  padding: 1.6rem 0.8rem;
  background-color: var(--color-background-dark);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

@media (min-width: 900px) {
  .navigation-bar {
    padding: 1.6rem 20%;
  }
}

.navigation-bar .logo,
.navigation-bar .menu-button {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.15rem solid var(--color-background-light);
  border-radius: 100%;
  padding: 0.25rem;
}

.navigation-bar .logo:hover,
.navigation-bar .logo:focus,
.navigation-bar .menu-button:hover,
.navigation-bar .menu-button:focus {
  filter: brightness(75%);
}

.navigation-bar .logo {
  background-color: var(--color-main);
}

.navigation-bar .logo img {
  width: 100%;
  height: 100%;
}

.navigation-bar .title {
  font-size: 1.8rem;
  text-align: center;
}

@media (min-width: 768px) {
  .navigation-bar .title {
    margin-left: 1.6rem;
    flex-grow: 1;
    text-align: left;
  }
}

.navigation-bar .menu-button {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar .menu-button:hover,
.navigation-bar .menu-button:active,
.navigation-bar .menu-button:focus {
  background-color: var(--color-background-semi-dark);
}

@media (min-width: 768px) {
  .navigation-bar .menu-button {
    display: none;
  }
}

/* #endregion */

/* #region side-menu/links */
#input-side-menu:checked ~ .side-menu {
  right: 0;
  animation-duration: 0.2s;
  animation-name: abrir-menu;
}

.side-menu {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: -110%;
  z-index: 100;
}

.side-menu .close-background {
  width: 10%;
  height: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.3);
}

.side-menu .content {
  left: 10%;
  width: 90%;
  height: 100%;
  float: right;
  background-color: var(--color-background-dark);
}

.side-menu .logo {
  width: 19.2rem;
  height: 19.2rem;
  margin: 3.2rem auto;
  padding: 1.6rem;
}

.side-menu .links {
  list-style: none;
}

.side-menu .links > * {
  display: flex;
}

.side-menu .links > *:first-of-type {
  border-top: 1px solid var(--color-text-light);
}

.side-menu .link {
  width: 100%;
  height: 4.8rem;
  padding: 1.6rem;
  border-bottom: 0.1rem solid var(--color-text-light);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.side-menu .choice-dark-mode .dark-mode,
.side-menu .choice-dark-mode .light-mode {
  align-items: center;
}

.side-menu .link .icon {
  font-size: 2.4rem;
  margin-right: 1.6rem;
}

.side-menu .link .icon.icon-language {
  font-size: 2.2rem;
}

.side-menu .link .icon.icon-light-off,
.side-menu .link .icon.icon-light-on {
  font-size: 2.6rem;
  margin-right: 1rem;
}

.side-menu .link .text {
  font-size: 1.8rem;
}

.side-menu .link:hover,
.side-menu .link:active,
.side-menu .link:focus {
  background-color: var(--color-main);
}

@media (min-width: 768px) {
  .side-menu {
    width: auto;
    height: auto;
    position: relative;
    right: 0;
  }

  .side-menu .logo {
    display: none;
  }

  .side-menu .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .side-menu .links > *:first-of-type {
    border: none;
  }

  .side-menu .link {
    width: initial;
    height: 1.5rem;
    border: 0.3rem solid transparent;
    border-radius: 0.8rem;
    padding: 1.6rem 0.4rem;
    margin-right: 0.4rem;
  }

  .side-menu .link .text {
    width: max-content;
  }

  .side-menu .link .icon {
    display: none;
    margin-right: 0.6rem;
  }
  
  @media (min-width: 768px) {
    .side-menu .link.icon-only .icon {
      display: flex;
    }
    
    .side-menu .link.icon-only span {
      display: none;
    }
  }

  .side-menu .link .icon.icon-language {
    font-size: 1.8rem;
  }

  .side-menu .link .icon.icon-light-off,
  .side-menu .link .icon.icon-light-on {
    font-size: 2.2rem;
    margin-right: 0;
  }

  .side-menu .link:hover,
  .side-menu .link:active,
  .side-menu .link:focus {
    color: var(--color-main);
    background-color: initial;
  }

  .side-menu .link:focus {
    border-color: var(--color-text-light);
  }
}

@keyframes abrir-menu {
  from {
    transform: translate(120%);
  }

  to {
    right: translate(0);
  }
}

/* #endregion */

/* #region page structure */
.section.presentation {
  margin-bottom: calc(var(--espacamento-entre-secoes) * -1);
  padding-bottom: calc(var(--espacamento-entre-secoes) - 1rem);
}

.section.experiences {
  margin-top: calc(var(--espacamento-entre-secoes) * -1);
  padding-top: calc(var(--espacamento-entre-secoes) + 1rem);
  margin-bottom: calc(var(--espacamento-entre-secoes) * -1);
  padding-bottom: calc(var(--espacamento-entre-secoes) - 1rem);
}

.section.skills .content,
.section.previous-works .content {
  margin: 0.4rem;
  border-radius: 1.2rem;
  padding: 1.6rem;
  background-color: var(--color-background-dynamic);
  color: var(--color-main-dark);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* #endregion */

/* #region presentation */
.presentation {
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.presentation .foto {
  width: 16rem;
  height: 16rem;
  margin-right: 2rem;
  border: 0.2rem solid var(--color-text-light);
  border-radius: 100%;
  object-fit: cover;
}

@media (max-width: 450px) {
  .presentation .foto {
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}

.presentation .title,
.presentation .text {
  margin-bottom: 1.6rem;
}

.presentation .title {
  font-weight: 700;
}

/* #endregion */

/* #region skills */
.skills .content {
  display: flex;
  flex-wrap: wrap;
}

.skills .title {
  width: 100%;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-text-dynamic);
}

.skills .title:last-of-type {
  width: 100%;
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.skills .languages {
  width: 100%;
  margin-bottom: 2.4rem;
}

.skills .language {
  margin-right: 0.8rem;
  text-decoration: none;
}

.skills .language .icon {
  border: 0.3rem solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2.8rem;
}

.skills .language:active .icon,
.skills .language:focus .icon,
.skills .language:hover .icon {
  border-color: var(--color-text-dynamic);
}

.skills .language.javascript {
  color: var(--color-javascript);
}

.skills .language.typescript {
  color: var(--color-typescript);
}

.skills .language.python {
  color: var(--color-python);
}

.skills .language.csharp {
  color: var(--color-csharp);
}

.skills .language.c {
  color: var(--color-c);
}

.skills .language.cpp {
  color: var(--color-cpp);
}

.skills .field .icon {
  font-size: 4.8rem;
}

.skills .field .name {
  margin: 1.2rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.skills .field .list {
  color: var(--color-text-dynamic);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills .field .list > * {
  margin-bottom: 0.4rem;
}

.skills .field-front-end {
  color: var(--color-front-end);
}

.skills .field-front-end .list > *::marker {
  color: red;
}

.skills .field-back-end {
  color: var(--color-back-end);
}

.skills .field-back-end .list > *::marker {
  color: var(--color-back-end);
}

.skills .field-jogos {
  color: var(--color-jogos);
}

.skills .field-jogos .list > *::marker {
  color: var(--color-jogos);
}

.skills .field-design {
  color: var(--color-design);
}

.skills .field-design .list > *::marker {
  color: var(--color-design);
}

@media (max-width: 600px) {
  .skills .field {
    flex-basis: 100%;
    padding: 1.6rem 8rem;
  }

  .skills .field:not(.field-design) {
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .skills .field {
    flex-basis: 50%;
    padding: 1.6rem;
  }

  .field-front-end, .field-back-end {
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
  }

  .field-front-end, .field-jogos {
    border-right: 0.2rem solid rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 769px) {
  .skills .field {
    flex-basis: 33%;
    border-bottom: none;
    padding: 1.6rem;
  }

  .skills .field:not(.field-design) {
    border-right: 0.2rem solid rgba(0, 0, 0, 0.25);
  }
}

/* #endregion */

/* #region experiences */
.experiences {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
}

.experiences .experience:last-of-type > a {
  height: 0;
}

.experiences a:hover,
.experiences a:active,
.experiences a:focus {
  opacity: 1;
}
.experiences a:hover .image,
.experiences a:active .image,
.experiences a:focus .image {
  filter: brightness(90%);
}

.experiences .title {
  margin-bottom: 1.6rem;
}

.experiences .filters {
  margin-bottom: 2.4rem;
}

.experiences .filter {
  border: 0.2rem solid var(--color-text-light);
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  opacity: 70%;
  font-size: 1.4rem;
}

.experiences .filter:hover,
.experiences .filter:focus {
  background-color: var(--color-main-dark);
}

.experiences #professional:checked ~ .filters .filter[for='professional'],
.experiences #educational:checked ~ .filters .filter[for='educational'] {
  opacity: 100%;
  font-weight: 600;
}

.list .year,
.list .experience {
  display: none;
}

.experiences #professional:checked ~ .list .year.professional,
.experiences #educational:checked ~ .list .year.educational {
  display: block;
}

.experiences #professional:checked ~ .list .experience.professional,
.experiences #educational:checked ~ .list .experience.educational {
  display: flex;
}

.experiences .list {
  padding-left: 3.8rem;
}

.experiences .list-internal {
  border-left: 0.2rem solid var(--color-text-light);
}

.list .year {
  margin: 2.4rem 0;
  border-top: 0.2rem solid var(--color-text-light);
  padding: 0.4rem 1.6rem 0 0;
  font-size: 1.8rem;
  text-align: center;
}

.list .year:first-of-type {
  margin-top: 0;
}

.list .experience {
  margin-bottom: 6.4rem;
  align-items: start;
  z-index: 1;
}

.list .experience .image {
  width: 8rem;
  height: 8rem;
  margin-left: -4.1rem;
  margin-right: 1rem;
  border: 0.3rem solid var(--color-primary-dark);
  border-radius: 100%;
  object-fit: contain;
}

@media (min-width: 720px) {
  .list .experience .image {
    width: 10rem;
    height: 10rem;
    margin-left: -5.1rem;
  }
}

.list .experience .information {
  text-align: start;
}

.list .experience .title {
  margin-bottom: 0.8rem;
}

.list .experience .title a {
  border: 0.3rem solid transparent;
  border-radius: 0.8rem;
  padding: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.list .experience .title a:hover,
.list .experience .title a:active,
.list .experience .title a:focus {
  border-color: var(--color-text-light);
}

/* #endregion */

/* #region previous-works */
.previous-works .content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.previous-works .title {
  flex-basis: 100%;
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-text-dynamic);
}

.previous-work {
  width: 30rem;
  height: 30rem;
  margin: 1.6rem;
  border: 0.4rem solid var(--color-background-dark);
  position: relative;
  border-radius: 5%;
  z-index: 1;
  background-color: var(--color-background-dark);
  overflow: hidden;
}

.previous-work:focus {
  border-color: var(--color-text-dynamic);
}

.previous-work .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.previous-work .details {
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.35s;
}

.previous-work:hover .details,
.previous-work:active .details,
.previous-work:focus .details {
  opacity: 1;
}

.previous-work .details .name {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
}

.link-portfolio {
  flex-basis: 100%;
  margin-top: 0.8rem;
  color: var(--color-text-dynamic);
}

.link-portfolio a {
  border: 0.3rem solid transparent;
  border-radius: 0.8rem;
  padding: 0.4rem;
}

.link-portfolio a:hover,
.link-portfolio a:active,
.link-portfolio a:focus {
  border-color: var(--color-text-dynamic);
}

/* #endregion */

/* #region footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--tamanho-footer);
  padding: 2rem;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  :root {
    --tamanho-footer: 16rem;
  }
}

.footer a {
  padding: 0.4rem;
  border: 0.3rem solid transparent;
  border-radius: 0.8rem;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  border-color: var(--color-text-light);
}

.footer .text {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  text-align: center;
}

.footer .text .icon-heart {
  color: red;
}

.footer .social-media-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.footer .social-media-list > * {
  display: inline;
}

@media (max-width: 768px) {
  .footer .break-line {
    flex-basis: 100%;
  }
}

.footer .social-media {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .social-media i {
  font-size: 2.4rem;
}

.footer .social-media.twitter {
  background-color: var(--color-twitter);
}

.footer .social-media.linkedin {
  background-color: var(--color-linkedin);
}

.footer .social-media.github {
  background-color: var(--color-github);
}

.footer .social-media.itchio {
  background-color: var(--color-itchio);
}

.footer .social-media.figma {
  background-color: var(--color-figma);
}

.footer .social-media.meetup {
  background-color: var(--color-meetup);
}

.footer .social-media.email {
  background-color: var(--color-main);
}

/* #endregion */

/* #region icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("./icomoon/icomoon.eot?9g6wqd");
  src: url("./icomoon/icomoon.eot?9g6wqd#iefix") format("embedded-opentype"), url("./icomoon/icomoon.ttf?9g6wqd") format("truetype"), url("./icomoon/icomoon.woff?9g6wqd") format("woff"), url("./icomoon/icomoon.svg?9g6wqd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light-off:before {
  content: "\e908";
}

.icon-light-on:before {
  content: "\e909";
}

.icon-typescript:before {
  content: "\e907";
}

.icon-cplusplus:before {
  content: "\e902";
}

.icon-csharp:before {
  content: "\e903";
}

.icon-javascript:before {
  content: "\e904";
}

.icon-c:before {
  content: "\e905";
}

.icon-python:before {
  content: "\e906";
}

.icon-figma:before {
  content: "\e901";
}

.icon-itchio:before {
  content: "\e900";
}

.icon-heart:before {
  content: "\f004";
}

.icon-user:before {
  content: "\f007";
}

.icon-home:before {
  content: "\f015";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-menu:before {
  content: "\f0c9";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-email:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-portfolio:before {
  content: "\f0f2";
}

.icon-games:before {
  content: "\f11b";
}

.icon-frontend:before {
  content: "\f13b";
}

.icon-backend:before {
  content: "\f1c0";
}

.icon-blog:before {
  content: "\f1ea";
}

.icon-contacts:before {
  content: "\f2b9";
}

.icon-cv:before {
  content: "\e923";
}

.icon-meetup:before {
  content: "\f2e0";
}

.icon-language:before {
  content: "\e9ca";
}

.icon-github:before {
  content: "\eab0";
}

/* #endregion */
