:root {
  font-size: 60%;
  --color-primary: #0074D9;
  --color-primary-dark: #001F3F;
  --color-main: var(--color-primary);
  --color-main-dark: var(--color-primary-dark);
  --color-background-light: #FFFFFF;
  --color-background-dark: #1A2A3A;
  --color-background-semi-dark: #2B3B4B;
  --color-text-light: #FFFFFF;
  --color-text-dark: #333;
  --color-disabled: #999;
  --color-text-dynamic: var(--color-text-dark);
  --color-background-dynamic: var(--color-background-light);
  --color-javascript: #DDC508;
  --color-typescript: #007ACC;
  --color-python: #3776AB;
  --color-csharp: #8A2BE2;
  --color-c: #00599C;
  --color-cpp: #00599C;
  --color-front-end: #E86229;
  --color-back-end: #3D9970;
  --color-jogos: #3D8FCC;
  --color-design: #F012BE;
  --color-twitter: #56ACEE;
  --color-linkedin: #007AB9;
  --color-github: #24292E;
  --color-itchio: #FA5C5B;
  --color-figma: #f24e1e;
  --color-meetup: #ED1C40;
  --color-email: var(--color-main);
  --tamanho-barra-navegacao: 4.8rem;
  --tamanho-rodape: 25rem;
  --espacamento-entre-secoes: 7rem;
}

/* #region valores padrão para tags */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  outline: none;
}

html, body {
  position: relative;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--color-background-dark);
}

body,
button,
input,
textarea {
  color: var(--color-text-light);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button, label {
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

a, i {
  color: inherit;
  transition: opacity 0.25s;
}

a:hover,
a:active,
a:focus {
  opacity: 0.9;
}

/* #endregion */

/* #region modo escuro */
#modo-escuro:not(:checked) ~ .barra-navegacao .modo-escuro,
#modo-escuro:checked ~ .barra-navegacao .modo-claro {
  display: flex;
}

#modo-escuro:checked ~ .barra-navegacao .modo-escuro {
  display: none;
}

#modo-escuro:checked ~ .conteudo-principal {
  --color-main: var(--color-primary-dark);
  --color-main-dark: var(--color-primary);
  --color-text-dynamic: var(--color-text-light);
  --color-background-dynamic: var(--color-background-semi-dark);
  background-color: var(--color-background-dark);
}

@media (prefers-color-scheme: dark) {
  .barra-navegacao .escolha-modo-escuro,
  .barra-navegacao .escolha-modo-claro {
    display: none;
  }

  #modo-escuro:checked ~ .conteudo-principal {
    --color-main: var(--color-primary-dark);
    --color-main-dark: var(--color-primary);
    --color-text-dynamic: var(--color-text-light);
    --color-background-dynamic: var(--color-background-semi-dark);
    background-color: var(--color-background-dark);
  }
}

/* #endregion */

/* #region conteudo-principal */
.conteudo-principal {
  min-height: 100%;
  padding-top: var(--tamanho-barra-navegacao);
  padding-bottom: var(--tamanho-rodape);
  background-color: var(--color-background-light);
}

.conteudo-principal > .secao {
  padding: 1.5rem 1rem 1rem 1rem;
  text-align: center;
}

@media (min-width: 900px) {
  .conteudo-principal > .secao {
    padding: 1.5rem 15% 1rem 15%;
  }
}

.conteudo-principal > .secao:last-of-type {
  border-bottom: 0.1rem solid var(--color-text-dynamic);
}

/* #endregion */

/* #region .barra-navegacao */
.barra-navegacao {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--tamanho-barra-navegacao);
  padding: 1.6rem 0.8rem;
  background-color: var(--color-background-dark);
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.barra-navegacao .logo,
.barra-navegacao .botao-hamburguer {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.15rem solid var(--color-background-light);
  border-radius: 100%;
  padding: 0.25rem;
}

.barra-navegacao .logo:hover,
.barra-navegacao .logo:focus,
.barra-navegacao .botao-hamburguer:hover,
.barra-navegacao .botao-hamburguer:focus {
  filter: brightness(75%);
}

.barra-navegacao .logo {
  background-color: var(--color-main);
}

.barra-navegacao .logo img {
  width: 100%;
  height: 100%;
}

.barra-navegacao .titulo {
  font-size: 1.8rem;
  text-align: center;
}

@media (min-width: 768px) {
  .barra-navegacao .titulo {
    margin-left: 1.6rem;
    flex-grow: 1;
    text-align: left;
  }
}

.barra-navegacao .botao-hamburguer {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barra-navegacao .botao-hamburguer:hover,
.barra-navegacao .botao-hamburguer:active,
.barra-navegacao .botao-hamburguer:focus {
  background-color: var(--color-background-semi-dark);
}

@media (min-width: 768px) {
  .barra-navegacao .botao-hamburguer {
    display: none;
  }
}

/* #endregion */

/* #region menu-lateral/links */
#input-menu-lateral:checked ~ .menu-lateral {
  right: 0;
  animation-duration: 0.2s;
  animation-name: abrir-menu;
}

.menu-lateral {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  position: fixed;
  top: 0;
  right: -110%;
  z-index: 100;
}

.menu-lateral .fundo-fechar {
  width: 10%;
  height: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-lateral .conteudo {
  left: 10%;
  width: 90%;
  height: 100%;
  float: right;
  background-color: var(--color-background-dark);
}

.menu-lateral .logo {
  width: 19.2rem;
  height: 19.2rem;
  margin: 3.2rem auto;
  padding: 1.6rem;
}

.menu-lateral .links {
  list-style: none;
}

.menu-lateral .links > * {
  display: flex;
}

.menu-lateral .links > *:first-of-type {
  border-top: 1px solid var(--color-text-light);
}

.menu-lateral .link {
  width: 100%;
  height: 4.8rem;
  padding: 1.6rem;
  border-bottom: 0.1rem solid var(--color-text-light);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-lateral .escolha-modo-escuro .modo-escuro,
.menu-lateral .escolha-modo-escuro .modo-claro {
  align-items: center;
}

.menu-lateral .link .icone {
  font-size: 2.4rem;
  margin-right: 1.6rem;
}

.menu-lateral .link .icone.icon-language {
  font-size: 2.2rem;
}

.menu-lateral .link .icone.icon-light-off,
.menu-lateral .link .icone.icon-light-on {
  font-size: 2.6rem;
  margin-right: 1rem;
}

.menu-lateral .link .texto {
  font-size: 1.8rem;
}

.menu-lateral .link.selecionado,
.menu-lateral .link:hover,
.menu-lateral .link:active,
.menu-lateral .link:focus {
  background-color: var(--color-main);
}

@media (min-width: 768px) {
  .menu-lateral {
    width: auto;
    height: auto;
    position: relative;
    right: 0;
  }

  .menu-lateral .logo {
    display: none;
  }

  .menu-lateral .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .menu-lateral .links > *:first-of-type {
    border: none;
  }

  .menu-lateral .link {
    width: initial;
    height: 1.5rem;
    border: 0.3rem solid transparent;
    border-radius: 0.8rem;
    padding: 1.6rem 0.4rem;
    margin-right: 0.4rem;
  }

  .menu-lateral .link .texto {
    width: max-content;
  }

  .menu-lateral .link .icone {
    display: none;
    margin-right: 0.6rem;
  }
  
  @media (min-width: 768px) {
    .menu-lateral .link.so-icone .icone {
      display: flex;
    }
    
    .menu-lateral .link.so-icone span {
      display: none;
    }
  }

  .menu-lateral .link .icone.icon-language {
    font-size: 1.8rem;
  }

  .menu-lateral .link .icone.icon-light-off,
  .menu-lateral .link .icone.icon-light-on {
    font-size: 2.2rem;
    margin-right: 0;
  }

  .menu-lateral .link.selecionado,
  .menu-lateral .link:hover,
  .menu-lateral .link:active,
  .menu-lateral .link:focus {
    color: var(--color-main);
    background-color: initial;
  }

  .menu-lateral .link:focus {
    border-color: var(--color-text-light);
  }
}

@keyframes abrir-menu {
  from {
    transform: translate(120%);
  }

  to {
    right: translate(0);
  }
}

/* #endregion */

/* #region rodapé */
.rodape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--tamanho-rodape);
  padding: 2rem;
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  :root {
    --tamanho-rodape: 16rem;
  }
}

.rodape a {
  padding: 0.4rem;
  border: 0.3rem solid transparent;
  border-radius: 0.8rem;
}

.rodape a:hover,
.rodape a:active,
.rodape a:focus {
  border-color: var(--color-text-light);
}

.rodape .texto {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  text-align: center;
}

.rodape .texto .icon-heart {
  color: red;
}

.rodape .redes-sociais {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.rodape .redes-sociais > * {
  display: inline;
}

@media (max-width: 768px) {
  .rodape .quebra-linha {
    flex-basis: 100%;
  }
}

.rodape .rede {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rodape .rede i {
  font-size: 2.4rem;
}

.rodape .rede.twitter {
  background-color: var(--color-twitter);
}

.rodape .rede.linkedin {
  background-color: var(--color-linkedin);
}

.rodape .rede.github {
  background-color: var(--color-github);
}

.rodape .rede.itchio {
  background-color: var(--color-itchio);
}

.rodape .rede.figma {
  background-color: var(--color-figma);
}

.rodape .rede.meetup {
  background-color: var(--color-meetup);
}

.rodape .rede.email {
  background-color: var(--color-main);
}

/* #endregion */

/* #region icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("./icomoon/icomoon.eot?9g6wqd");
  src: url("./icomoon/icomoon.eot?9g6wqd#iefix") format("embedded-opentype"), url("./icomoon/icomoon.ttf?9g6wqd") format("truetype"), url("./icomoon/icomoon.woff?9g6wqd") format("woff"), url("./icomoon/icomoon.svg?9g6wqd#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-light-off:before {
  content: "\e908";
}

.icon-light-on:before {
  content: "\e909";
}

.icon-typescript:before {
  content: "\e907";
}

.icon-cplusplus:before {
  content: "\e902";
}

.icon-csharp:before {
  content: "\e903";
}

.icon-javascript:before {
  content: "\e904";
}

.icon-c:before {
  content: "\e905";
}

.icon-python:before {
  content: "\e906";
}

.icon-figma:before {
  content: "\e901";
}

.icon-itchio:before {
  content: "\e900";
}

.icon-heart:before {
  content: "\f004";
}

.icon-user:before {
  content: "\f007";
}

.icon-home:before {
  content: "\f015";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-menu:before {
  content: "\f0c9";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-email:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-portfolio:before {
  content: "\f0f2";
}

.icon-games:before {
  content: "\f11b";
}

.icon-frontend:before {
  content: "\f13b";
}

.icon-backend:before {
  content: "\f1c0";
}

.icon-blog:before {
  content: "\f1ea";
}

.icon-contacts:before {
  content: "\f2b9";
}

.icon-cv:before {
  content: "\e923";
}

.icon-meetup:before {
  content: "\f2e0";
}

.icon-language:before {
  content: "\e9ca";
}

.icon-github:before {
  content: "\eab0";
}

/* #endregion */


/* #region estrutura da página */
.secao.apresentacao {
  margin-bottom: calc(var(--espacamento-entre-secoes) * -1);
  padding-bottom: calc(var(--espacamento-entre-secoes) - 1rem);
}

.secao.experiencias {
  margin-top: calc(var(--espacamento-entre-secoes) * -1);
  padding-top: calc(var(--espacamento-entre-secoes) + 1rem);
  margin-bottom: calc(var(--espacamento-entre-secoes) * -1);
  padding-bottom: calc(var(--espacamento-entre-secoes) - 1rem);
}

.secao.competencias .conteudo,
.secao.trabalhos .conteudo {
  margin: 0.4rem;
  border-radius: 1.2rem;
  padding: 1.6rem;
  background-color: var(--color-background-dynamic);
  color: var(--color-main-dark);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* #endregion */

/* #region apresentação */
.apresentacao {
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 450px) {
  .apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.apresentacao .foto {
  width: 16rem;
  height: 16rem;
  margin-right: 2rem;
  border: 0.2rem solid var(--color-text-light);
  border-radius: 100%;
  object-fit: cover;
}

@media (max-width: 450px) {
  .apresentacao .foto {
    margin-right: 0;
    margin-bottom: 1.6rem;
  }
}

.apresentacao .titulo,
.apresentacao .texto {
  margin-bottom: 1.6rem;
}

.apresentacao .titulo {
  font-weight: 700;
}

/* #endregion */

/* #region competencias */
.competencias .conteudo {
  display: flex;
  flex-wrap: wrap;
}

.competencias .titulo {
  width: 100%;
  margin-bottom: 2.4rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-text-dynamic);
}

.competencias .titulo:last-of-type {
  width: 100%;
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.competencias .linguagens {
  width: 100%;
  margin-bottom: 2.4rem;
}

.competencias .linguagem {
  margin-right: 0.8rem;
  text-decoration: none;
}

.competencias .linguagem .icone {
  border: 0.3rem solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 2.8rem;
}

.competencias .linguagem:active .icone,
.competencias .linguagem:focus .icone,
.competencias .linguagem:hover .icone {
  border-color: var(--color-text-dynamic);
}

.competencias .linguagem.javascript {
  color: var(--color-javascript);
}

.competencias .linguagem.typescript {
  color: var(--color-typescript);
}

.competencias .linguagem.python {
  color: var(--color-python);
}

.competencias .linguagem.csharp {
  color: var(--color-csharp);
}

.competencias .linguagem.c {
  color: var(--color-c);
}

.competencias .linguagem.cpp {
  color: var(--color-cpp);
}

.competencias .campo .icone {
  font-size: 4.8rem;
}

.competencias .campo .nome {
  margin: 1.2rem 0;
  font-size: 2rem;
  font-weight: 700;
}

.competencias .campo .lista {
  color: var(--color-text-dynamic);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.competencias .campo .lista > * {
  margin-bottom: 0.4rem;
}

.competencias .campo-front-end {
  color: var(--color-front-end);
}

.competencias .campo-front-end .lista > *::marker {
  color: red;
}

.competencias .campo-back-end {
  color: var(--color-back-end);
}

.competencias .campo-back-end .lista > *::marker {
  color: var(--color-back-end);
}

.competencias .campo-jogos {
  color: var(--color-jogos);
}

.competencias .campo-jogos .lista > *::marker {
  color: var(--color-jogos);
}

.competencias .campo-design {
  color: var(--color-design);
}

.competencias .campo-design .lista > *::marker {
  color: var(--color-design);
}

@media (max-width: 600px) {
  .competencias .campo {
    flex-basis: 100%;
    padding: 1.6rem 8rem;
  }

  .competencias .campo:not(.campo-design) {
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .competencias .campo {
    flex-basis: 50%;
    padding: 1.6rem;
  }

  .campo-front-end, .campo-back-end {
    border-bottom: 0.2rem solid rgba(0, 0, 0, 0.25);
  }

  .campo-front-end, .campo-jogos {
    border-right: 0.2rem solid rgba(0, 0, 0, 0.25);
  }
}

@media (min-width: 769px) {
  .competencias .campo {
    flex-basis: 33%;
    border-bottom: none;
    padding: 1.6rem;
  }

  .competencias .campo:not(.campo-design) {
    border-right: 0.2rem solid rgba(0, 0, 0, 0.25);
  }
}

/* #endregion */

/* #region experiencias */
.experiencias {
  display: flex;
  flex-direction: column;
  background-color: var(--color-main);
}

.experiencias .experiencia:last-of-type > a {
  height: 0;
}

.experiencias a:hover,
.experiencias a:active,
.experiencias a:focus {
  opacity: 1;
}
.experiencias a:hover .imagem,
.experiencias a:active .imagem,
.experiencias a:focus .imagem {
  filter: brightness(90%);
}

.experiencias .titulo {
  margin-bottom: 1.6rem;
}

.experiencias .filtros {
  margin-bottom: 2.4rem;
}

.experiencias .filtro {
  border: 0.2rem solid var(--color-text-light);
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  opacity: 70%;
  font-size: 1.4rem;
}

.experiencias .filtro:hover,
.experiencias .filtro:focus {
  background-color: var(--color-main-dark);
}

.experiencias #profissional:checked ~ .filtros .filtro[for='profissional'],
.experiencias #educacional:checked ~ .filtros .filtro[for='educacional'] {
  opacity: 100%;
  font-weight: 600;
}

.lista .ano,
.lista .experiencia {
  display: none;
}

.experiencias #profissional:checked ~ .lista .ano.profissional,
.experiencias #educacional:checked ~ .lista .ano.educacional {
  display: block;
}

.experiencias #profissional:checked ~ .lista .experiencia.profissional,
.experiencias #educacional:checked ~ .lista .experiencia.educacional {
  display: flex;
}

.experiencias .lista {
  padding-left: 3.8rem;
}

.experiencias .lista-interno {
  border-left: 0.2rem solid var(--color-text-light);
}

.lista .ano {
  margin: 2.4rem 0;
  border-top: 0.2rem solid var(--color-text-light);
  padding: 0.4rem 1.6rem 0 0;
  font-size: 1.8rem;
  text-align: center;
}

.lista .ano:first-of-type {
  margin-top: 0;
}

.lista .experiencia {
  margin-bottom: 6.4rem;
  align-items: start;
  z-index: 1;
}

.lista .experiencia .imagem {
  width: 8rem;
  height: 8rem;
  margin-left: -4.1rem;
  margin-right: 1rem;
  border: 0.3rem solid var(--color-primary-dark);
  border-radius: 100%;
  object-fit: contain;
}

@media (min-width: 720px) {
  .lista .experiencia .imagem {
    width: 10rem;
    height: 10rem;
    margin-left: -5.1rem;
  }
}

.lista .experiencia .informacoes {
  text-align: start;
}

.lista .experiencia .titulo {
  margin-bottom: 0.8rem;
}

.lista .experiencia .titulo a {
  border: 0.3rem solid transparent;
  border-radius: 0.8rem;
  padding: 0.4rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.lista .experiencia .titulo a:hover,
.lista .experiencia .titulo a:active,
.lista .experiencia .titulo a:focus {
  border-color: var(--color-text-light);
}

/* #endregion */

/* #region trabalhos */
.trabalhos .conteudo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.trabalhos .titulo {
  flex-basis: 100%;
  margin-bottom: 1.6rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-text-dynamic);
}

.trabalho {
  width: 30rem;
  height: 30rem;
  margin: 1.6rem;
  border: 0.4rem solid var(--color-background-dark);
  position: relative;
  border-radius: 5%;
  z-index: 1;
  background-color: var(--color-background-dark);
  overflow: hidden;
}

.trabalho:focus {
  border-color: var(--color-text-dynamic);
}

.trabalho .imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trabalho .detalhes {
  height: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.35s;
}

.trabalho:hover .detalhes,
.trabalho:active .detalhes,
.trabalho:focus .detalhes {
  opacity: 1;
}

.trabalho .detalhes .nome {
  margin-bottom: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
}

.link-portfolio {
  flex-basis: 100%;
  margin-top: 0.8rem;
  color: var(--color-text-dynamic);
}

.link-portfolio a {
  border: 0.3rem solid transparent;
  border-radius: 0.8rem;
  padding: 0.4rem;
}

.link-portfolio a:hover,
.link-portfolio a:active,
.link-portfolio a:focus {
  border-color: var(--color-text-dynamic);
}

/* #endregion */
